<section class="breadcrumb__area breadcrumb__style-2 include-bg pt-50 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1">
                <div class="breadcrumb__list has-icon">
                    <span class="breadcrumb-icon">
                        <i class="fa fa-dashboard"></i>
                    </span>
                    <span><a href="#">Tableau de bord</a></span>
                    {% block title_1 %}{% endblock %}
                    {% block title_2 %}{% endblock %}
                    {% block title_3 %}{% endblock %}
                    {% block title_4 %}{% endblock %}
                </div>
                </div>
            </div>
        </div>
    </div>
</section>