<nav>
    <div class="nav nav-tabs tp-tab-menu flex-column" id="profile-tab" role="tablist">
        <a href="" class="nav-link active"><span><i class="fa-regular fa-user-pen"></i></span>Tableau de bord</a>
        <a href="{{path('app_admin_website')}}" class="nav-link"><span><i class="fa-regular fa-circle-info"></i></span>Administration du site</a>
        <a href="" class="nav-link"><span><i class="fa-light fa-location-dot"></i></span>Gestion des utilisateurs</a>
        <a href="" class="nav-link"><span><i class="fa-regular fa-lock"></i></span>Mon compte</a>
        <span id="marker-vertical" class="tp-tab-line d-none d-sm-inline-block"></span>
    </div>
</nav>