{% extends 'base.html.twig' %}

{% block title %}New ProductAvailability{% endblock %}

{% block body %}
    <h1>Create new ProductAvailability</h1>

    {{ include('product_availability/_form.html.twig') }}

    <a href="{{ path('app_product_availability_index') }}">back to list</a>
{% endblock %}
